<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87538690451-1g7fsh6eo91n7vo335an0atg14mb2161.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87538690451-1g7fsh6eo91n7vo335an0atg14mb2161</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>87538690451-9ou97g1r1jnr6opgo71gr2815lvgmr39.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlA7OkKqnTTTK_G5zUnv-QXSWNEoBNhO0</string>
	<key>GCM_SENDER_ID</key>
	<string>87538690451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithsneha.ManyangJewellers</string>
	<key>PROJECT_ID</key>
	<string>manyang-jewellers-acd3e</string>
	<key>STORAGE_BUCKET</key>
	<string>manyang-jewellers-acd3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87538690451:ios:9471f1888b17b7bb136066</string>
	<key>DATABASE_URL</key>
	<string>https://manyang-jewellers-acd3e.firebaseio.com</string>
</dict>
</plist>